.Header {
  background-color: rgb(49, 49, 49);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 10px;
}
@media (min-width: 800px) {
  .container {
    margin: auto;
    max-width: 1000px;
  }
}

.title {
  color: #fff;
  font-size: 24px;
}
